{% extends 'index.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <h2>Casas</h2>
    <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th scope="col">Contém armário</th>
          <th scope="col">Qtd. de Quartos</th>
          <th scope="col">Qtd. de Suites</th>
          <th scope="col">Área em M²</th>
          <th scope="col">Qtd. de Salas de Estar</th>
          <th scope="col">Qtd. de vagas na garagem</th>
          <th scope="col">Descricao</th>
          <th scope="col">Contém quintal</th>
          <th scope="col">Endereço</th>
          <th scope="col">Remover</th>
          <th scope="col">Atualizar</th>
        </tr>
      </thead>
      <tbody>
        {% for casa in casas %}
          <tr>
              <td>{% if casa[0] %} Sim {% else %} Não {% endif %}</td>
              <td>{{ casa[1] }}</td>
              <td>{{ casa[2] }}</td>
              <td>{{ casa[3] }}</td>
              <td>{{ casa[4] }}</td>
              <td>{{ casa[5] }}</td>
              <td>{{ casa[6] }}</td>
              <td>{{ casa[11] }}</td>
              <td>{{ casa[10] }} : {{ casa[9] }} :
              {{ casa[8] }} : {{ casa[7] }}</td>
              <td style="text-align: center;">
                <form method="get" action="casa" id="id_formDelete{{ casa[12] }}">
                  <input type="hidden" name="delete" value="{{ casa[12] }}">
                  <button class="btn btn-dark" type="submit" form="formDelete{{ casa[12] }}">X</button>
                </form>
              </td>
              <td style="text-align: center;">
                <form method="get" action="update" id="id_formUpdate{{ casa[12] }}">
                  <input type="hidden" name="type" value="2">
                  <input type="hidden" name="update" value="{{ casa[12] }}">
                  <button class="btn btn-dark" type="submit" form="formUpdate{{ casa[12] }}">U</button>
                </form>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Cadastrar Casa</h2>
    <form method="post">
        <div class="form-group">
          <label for="id_n_quartos">Qtd. de quartos</label>
          <input class="form-control" type="number" name="n_quartos" id="id_n_quartos" required>
        </div>
        <div class="form-group">
          <label for="id_n_suites">Qtd. de suites</label>
          <input class="form-control" type="number" name="n_suites" id="id_n_suites" required>
        </div>
        <div class="form-group">
          <label for="id_area">Área(m²)</label>
          <input class="form-control" type="" name="area" step=".01" id="id_area" required>
        </div>
        <div class="form-group">
          <label for="id_n_salas_estar">Qtd. de salas de estar</label>
          <input class="form-control" type="number" name="n_salas_estar" id="id_n_salas_estar"  required>
        </div>
        <div class="form-group">
          <label for="id_n_vagas_garagem">Qtd. vagas na garagem</label>
          <input class="form-control" type="number" name="n_vagas_garagem" id="id_n_vagas_garagem" required>
        </div>
        <div class="form-group">
          <label for="id_descricao">Descrição do imovél</label>
          <textarea class="form-control" type="text" name="descricao" rows="3" id="id_descricao"></textarea>
        </div>
        <div class="form-group">
          <label for="id_valor_aluguel">Valor aluguel</label>
          <input class="form-control" type="number" step=".01" name="valor_aluguel" id="id_valor_aluguel">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="b_armario" id="id_b_armario" required>
          <label class="form-check-label" for="id_b_armario">Possui armário embutido</label>
        </div>
        <div class="form-group">
            <label for="id_endereco"></label>
            <select name="id_endereco" class="custom-select">
                {% for endereco in enderecos %}
                    <option value="{{ endereco[4] }}">{{ endereco[0] }} :  {{ endereco[1] }} : {{ endereco[2] }} : {{ endereco[3] }}</option>
                {% endfor %}
            </select>
        </div>
      <div class="">
        <button type="submit" class="btn btn-dark btn-lg btn-block">Cadastrar</button>
      </div>
    </form>
  </div>
</div>

<div style="padding-top: 1em;" class="row">
  <form class="col" method="get" action="endereco">
    <button class="btn btn-dark" type="submit">Usar outro endereco</button>
  </form>
</div>

{% endblock %}